/* styles.css */
body {
    background:  url('images/076.JPG');
    font-family: Arial, sans-serif;
    background-size: cover; /* This property scales the image to cover the entire container */
    background-repeat: no-repeat; /* This property prevents the image from repeating */
    background-attachment: fixed; /* Fixed background for scrolling pages */
    background-position: center center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}
